<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="  crossorigin="anonymous"></script>
</head>
<html>
  <body>
      <div class="fb-body">
          <div id="intro1" class="fb-body">Facebook helps you connect and share with the <br>
          people in your life.</div>
          <div id="intro2" class="fb-body">Create an account</div>
          <div id="img2" class="fb-body"><img src="https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/OBaVg52wtTZ.png" /></div>
          <div id="intro3" class="fb-body">It's free and always will be.</div>
          <div id="form3" class="fb-body">
            <input placeholder="First Name" type="text" id="namebox" name="name1" />
            <input placeholder="Last Name" type="text" id="namebox"  /> <br>
            <input placeholder="Emai" type="text" id="mailbox" /><br>
            <input placeholder="Re-enter email" type="text" id="mailbox"  /><br>
            <input placeholder="Password" type="password" id="mailbox"  /><br>
            <input type="date" id="namebox"  /><br><br>
            <input type="radio" id="r-b" name="sex" value="male" />Male
            <input type="radio" id="r-b" name="sex" value="female" />Female<br><br>
            <p id="intro4">By clicking Create an account, you agree to our Terms and that 
            you have read our Data Policy, including our Cookie Use.</p>
            <button type="submit" id="button2" class="btn btn-primary">Create an account</button>
            <br><hr>
            <p id="intro5">Create a Page for a celebrity, band or business.</p>
            
          </div>
          
        </div>
        <div class="fb-body-footer">
            <div id="fb-body-footer-base" class="fb-body-footer">English (UK)<br><hr>
            Sign Up	Log In	&copy; www.coderglass.com &nbsp;&nbsp; Design by Varun Singh</div>
          </div>
    
   
       </body>   

</html>
