<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="  crossorigin="anonymous"></script>
</head>
<html>
  <body>
      <div class="fb-header-base">
        </div>
        <div class="fb-header">
          <div id="img1" class="fb-header"><img src=".\assets/fb.svg" width=40px height="30px"/></div>
          <div id="form1" class="fb-header">Email or Phone<br>
          <input placeholder="Email address" style="color: black" type="mail" name="name" /><br>
          <input type="checkbox" />keep me logged in</div>
          
          <div id="form2" class="fb-header">Password<br>
          <input placeholder="Enter Password" style="color:black" type="password" name="password" /><br>
          Forgotten your password?
          </div>
          </div>
        <button type="submit" class="btn btn-primary" id="submit1" >login</button>
   
       </body>   

</html>